# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# env
.env
.env*.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# vector store cache (if using local files)
.vectorstore/

# clerk configuration (can include secrets)
/.clerk/
